<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<!--<div class="container">
    <p>
        <a href="mailto: {{theme.settings.footer.mailto}}">{{theme.settings.footer.mailto}}</a>
        {{#if theme.settings.footer.phone}}
            {{t "templates.user.DefaultBaseTemplate.orPhone"}} {{theme.settings.footer.phone}}.
        {{/if}}
        {{#if version}}
            <br/>
            {{version}}
        {{/if}}
        <br/>
        {{t "common.form.copyright"}}
    </p>
</div>-->


<div class="container">
    <div class="col-lg-4">
        <a class="warning" href="/">Warning</a>
        <a class="readmanual" href="/">Readmanual</a>
    </div>
    <div class="col-lg-4 center">
        <p>
            Copyrights and all other proprietary rights in any software and related documentation ("Software") made available
            to you rest exclusively with Philips or its licensors. No title or ownership in the Software is conferred to you.
            Use of the Software is subject to the end user license conditions as are available on request.
        </p>
    </div>
    <div class="col-lg-4"></div>
</div>

<!--<div class="row">
    <div class="col-xs-12 col-sm-4" style="background-color: red">
        some content
    </div>
    <div class="col-xs-6 col-sm-4" style="background-color: yellow">
        no kittenz :(
        <img src="http://placehold.it/100x150">
    </div>
    <div class="col-xs-6 col-sm-4" style="background-color: pink">
        some more content
    </div>
</div>-->

