<div class="container">
    <div class="col-md-12">
        <form action="" method="post" class="form login col-sm-6 col-sm-offset-3 philips-form" data-stage="{{reqs.stage}}">
            <fieldset class="row">
                {{#each reqs.callbacks}}
                    <div class="form-group">
                        {{callbackRender}}
                    </div>

                    {{#if isSubmit}}
                        {{#if ../../showRememberLogin}}
                            {{> login/_RememberLogin }}
                        {{/if}}
                    {{/if}}

                {{/each}}

                {{> login/_SelfService }}

                {{#if showSocialLogin}}
                    {{> login/_SocialAuthn }}
                {{/if}}
            </fieldset>
        </form>
    </div>
</div>
